@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
    border: 4px solid transparent; /* Borde transparente para el degradado */
    background-image: linear-gradient(white, white), /* Fondo blanco */
                      linear-gradient(to right, #4285F4, #DB4437, #F4B400, #0F9D58); /* Degradado de Google */
    background-clip: padding-box, border-box; /* Para que el degradado no se superponga al contenido */
  }